<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaStudy.tools.mybatis.mapper.NewMapMapper">
    <insert id="add">
        INSERT INTO `new_map`(`map_medicine_pk_no`, `map_directory_pk_no`, `new_map_directory_pk_no`)
        VALUES (#{mapMedicinePkNo}, #{mapDirectoryPkNo}, #{newMapDirectoryPkNo});
    </insert>
</mapper>
